export interface Config {
    discordToken: string;
    mongoUri: string;
    statcordKey: string;
    rebrandlyApiKey: string;
    rebrandlyWorkspace: string;
    topggKey: string;
    webhookAuth: string;
    webhookPort: number;
    githubPat: string;
}

const discordToken = '';

const mongoUri = '';

const statcordKey = '';

const rebrandlyApiKey = '';
const rebrandlyWorkspace = '';

const topggKey =
    '';
const webhookAuth = '';
const webhookPort = 8000;

const githubPat = '';

export default {
    discordToken,
    mongoUri,
    statcordKey,
    rebrandlyApiKey,
    rebrandlyWorkspace,
    topggKey,
    webhookAuth,
    webhookPort,
    githubPat,
};