const discordToken: string = '';

const mongoUri: string = '';

const statcordKey: string = '';

const rebrandlyApiKey: string = '';
const rebrandlyWorkspace: string = '';

const topggKey: string =
    '';
const webhookAuth: string = '';
const webhookPort: number = 8000;

const githubPat: string = '';

export default {
    discordToken,
    mongoUri,
    statcordKey,
    rebrandlyApiKey,
    rebrandlyWorkspace,
    topggKey,
    webhookAuth,
    webhookPort,
    githubPat,
};